body {
  width: 0 auto;
  height: 0 auto;
}

.perfil {
  text-align: center;
}
#logo {
  border-radius: 100%;
  border: 2px solid #bb99dd;
  margin-top: 50px;
  padding-top: 6px;
  padding-left: 7px;
  padding-bottom: 7px;
  padding-right: 6px;
}
.logos {
  width: 236px;
  height: 24px;
  justify-content: space-between;
  display: flex;
  margin: auto;
  margin-bottom: 189px;
}
.link-insta {
  margin-top: 15px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: #bb99dd;
  height: 24px;
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}
ul {
  margin-top: 33px;
  display: flex;
  font-family: "poppins", sans-serif;
  color: #bb99dd;
  font-weight: 600;
  font-size: 16px;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 0;
  margin-bottom: 81px;
}
p {
  border: 2px solid #bb99dd;
  width: 326px;
  padding-top: 12px;
  padding-right: 138px;
  padding-left: 141px;
  padding-bottom: 13px;
}
